<h2 style="color: white">{{title}}</h2>
<div class="container">
  <br>
  <div ng-show="loading">
    <h3>Loading....</h3>
  </div>
  <div ng-show="!loading" class="pokemon">
    <h3>{{details.name}} {{details.id}}</h3>
    <br>
    <button ng-show="isFavorite(details.id)" class="btn btn-info btn-xs fav" ng-click="addFavorite(details.id, details.name)">Favorite</button>
    <div>
      <img class="sprites" ng-src="{{details.sprites.front_default}}">
      <img class="sprites" ng-src="{{details.sprites.back_default}}">
    </div>
    <p>ID: {{details.id}}</p>
    <p>Height: {{details.height}} inches</p>
    <p>Weight: {{details.weight}} pounds</p>
    <p>Types: 
      <span ng-repeat="t in details.types">
        {{t.type.name}}
      </span>
    </p>
    <div><u>Base Stats:</u>
      <br>
      <p ng-repeat="s in details.stats">
        {{s.stat.name}}: {{s.base_stat}}
      </p>
    </div>
  </div>
  <br>
</div>